@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
body {
	line-height: 1.82857143em; /*1.82857143;*/
	/*background-color: whitesmoke;*/ /*#ffffff;*/
	background: #f9f9f9;
	font-weight: 300;
}

a {
	color: #FF4405; /*#E47911;*/
}

a.ng-binding {
	color: white;
	padding: 1px 5px 5px 1px;
	/* position: absolute; */
	background-image: url("/static/images/photo_caption.png");
	bottom: 0;
	left: 0;
}

.main {
	float: left;
	width: 60%;
}

.top-sidebar {
	float: left;
	width: 30%;
}

.top-sidebar a img {
	width: 100%;
}

img {
	vertical-align: middle;
	width: 100%;
}

.navbar-brand {
	float: left;
	padding: 19.5px 15px;
	font-size: 32px;
	line-height: 21px;
	height: 60px;
}

.page-header {
	padding-bottom: 9.5px;
	margin: 60px 0 1px;
	border-bottom: 1px solid transparent;
}

.trends {
	display: inline-block;
	padding-left: 0;
	margin: 1px 0;
	border-radius: 4px;
	margin-bottom: 20px;
	overflow: hidden;
	border-top: 1px solid #ccc;
}

.trends-wrapper {
	list-style: none;
	display: inline;
	margin-left: 10px;
	line-height: 1.5em;
	border-bottom: 1px solid #ccc;
	float: left;
	display: inline;
	width: 45%;
	font-family: georgia, times new roman, serif;
}

@media all and (min-width: 769px) and (max-width: 1024px) {
	.trends-wrapper {
		width: 100%;
	}
}

.trends-wrapper a:hover {
	text-decoration: underline;
}

.trends-wrapper a {
	color: rgb(17, 85, 204); /*#333;*/ /*#FF4405;*/ /*#FF4405;*/ /*#333*/;
}

.list-group-item {
	position: relative;
	display: block;
	padding: 5px 5px;
	margin-bottom: 10px; /*'-1px*/;
	background-color: #ffffff;
	border: 1px solid #ecf0f1;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2,
	.col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
	.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5,
	.col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
	.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8,
	.col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
	.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11,
	.col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
	{
	position: relative;
	min-height: 1px;
	padding-left: 5px;
	padding-right: 5px;
}

.tweet-container {
	
}

.profile-img {
	width: 36px;
	height: 36px;
	position: absolute;
}

.loading-img {
	width: 30px;
	height: 30px;
}

.last_msg_loader {
	width: 100%;
	text-align: center;
}

.loading {
	margin: 0 3px;
	color: #333; /*#666;*/
	font-weight: bold;
}

.tweet-detail { /*float:left;*/
	margin-left: 45px;
}

@media ( min-width : 1200px) {
	.container {
		width: 1170px;
	}
}

@media ( min-width : 1200px) {
	.col-lg-4 {
		width: 27.33333333%;
	}
}

@media ( min-width : 1200px) {
	.col-lg-5 {
		width: 45%;
	}
}

/* @media all and (min-width: 480px) {
 #buzzfeed-container {
    width: 27.33333333%;
 }
} */

/* @media all and (min-width: 480px) {
 #newsfeed-container {
    width: 27.33333333%;
 }
} */

/* @media all and (min-width: 480px) {
 #galleryfeed-container {
    width: 27.33333333%;
 }
} */
@media screen and (min-width: 768px) and (max-width: 1200px) {
	.nav>li>a {
		padding: 1px 5px 10px 4px;
		font-size: 14px;
		margin-top: 1px; /*18px;*/
	}
}

/* #Tablet (Portrait)
================================================== */
/* Note: Design for a width of 768px */
@media all and (min-width: 768px) and (max-width: 959px) {
	td.col_1 {
		display: none;
		width: 0;
		height: 0;
		opacity: 0;
		visibility: collapse;
	}
}
/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 600px */
@media all and (min-width: 600px) and (max-width: 767px) {
	td.col_2 {
		display: none;
		width: 0;
		height: 0;
		opacity: 0;
		visibility: collapse;
	}
}
/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 480px */
@media all and (min-width: 480px) and (max-width: 599px) {
	td.col_3 {
		display: none;
		width: 0;
		height: 0;
		opacity: 0;
		visibility: collapse;
	}
}
/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */
@media all and (max-width: 479px) {
	td.col_4 {
		display: none;
		width: 0;
		height: 0;
		opacity: 0;
		visibility: collapse;
	}
}

@media all and (max-width: 479px) {
	#buzzfeed-container {
		display: none;
		width: 0;
		height: 0;
		opacity: 0;
		visibility: collapse;
	}
}

@media all and (max-width: 479px) {
	#galleryfeed-container {
		display: none;
		width: 0;
		height: 0;
		opacity: 0;
		visibility: collapse;
	}
}

@media all and (min-width: 480px) and (max-width: 767px) {
	#buzzfeed-container {
		display: none;
		width: 0;
		height: 0;
		opacity: 0;
		visibility: collapse;
	}
}

@media all and (min-width: 768px) and (max-width: 1200px) {
	#buzzfeed-container {
		float: left;
		width: 25%;
	}
}

@media all and (min-width: 768px) and (max-width: 1200px) {
	#galleryfeed-container {
		float: left;
		width: 27%; /*40%;*/
	}
}

@media all and (min-width: 480px) and (max-width: 767px) {
	#galleryfeed-container {
		float: left;
		width: 40%;
	}
}

@media all and (min-width: 480px) and (max-width: 767px) {
	#newsfeed-container {
		float: left;
		width: 60%;
	}
}

@media all and (min-width: 768px) and (max-width: 1200px) {
	#newsfeed-container {
		float: left;
		width: 48%; /*60%;*/
	}
}

@media all and (min-width: 979px) and (max-width: 1024px) {
	.container {
		width: 98%;
	}
}

@media all and (min-width: 1025px) and (max-width: 1200px) {
	.container {
		width: 95%;
	}
}

@media ( max-width : 979px) and (min-width: 768px) {
	.container, .navbar-static-top .container, .navbar-fixed-top .container,
		.navbar-fixed-bottom .container {
		width: 98%; /*890px;*/ /*724px;*/
	}
}

.header-menu {
	text-transform: uppercase;
}

.header_pane {
	font-size: 20px;
	font-weight: bold;
	height: 80px;
	padding: 15px 5px 25px 5px;
	color: #6F5A5A;
}

.tweet-text {
	color: #444; /*#666;*/ /*#6F6A6A;*/
	/*letter-spacing: .03em;*/
	/*padding: 5px 5px 5px 0;*/
	vertical-align: top;
	font-family: 'Georgia', arial;
}

.news-title-block {
	/*height: 65px;*/
	
}

.news-title {
	padding: 1px 1px 1px 1px;
	font-size: 23px;
	font-weight: normal;
	color: #666;
	margin: 5px 0 2px 1px; /*10px 0;*/
	line-height: 40px;
}

.news-summary {
	color: #333; /*#6F6A6A;*/
	/*letter-spacing: .01em;*/ /*.03em;*/
	padding: 5px 5px 5px 0;
	vertical-align: top;
	word-wrap: break-word;
	text-align: justify;
	font-family: georgia, times new roman, serif;
	font-size: 15px;
	/*line-height: 23px;*/
	margin: 0px 0px 1px;
	padding: 0px;
}

.news-img {
	/*float: left;*//*left;*/
	/*margin-left:5px;
	margin-right: 10px;*/ /*1px;*/ /*15px;*/
	margin-top: 4px;
	/*width: 220px;*/
	text-align: center;
	overflow: hidden;
	max-height: 400px;/*recently added*/
}

@media all and (min-width: 1200px) {
        .news-img {
        float: left;/*left;*/
        /*margin-left:5px;*/
        margin-right: 10px;/*1px;*/ /*15px;*/
        margin-top: 4px;
        width: 220px;
        text-align: center;
        overflow: hidden;
        max-height: 400px;/*recently added*/
  }
}

.news-meta-info {
	margin: 0px;
	padding: 1px;
	-webkit-font-smoothing: antialiased;
}

.news-source {
	display: inline-block;
	font-size: 13px;
	color: #777;
	padding: 1px 1px 1px 1px;; /*6px 6px 1px 6px;;*/
}

.news-pubslished-time {
	display: inline-block;
	font-size: 13px;
	color: #777;
}

.twitter-icon {
	/*width:26px;
	height:16px;
	padding-left:5px;
	*/
	width: 38px;
	height: 26px;
	padding: 4px 10px;
}

#topics {
	margin: 2px 2px 2px 2px; /*2px 2px 20px 2px;*/
	/*margin: 2px 2px 2px 0;*/
	padding: 1px 2px 1px 1px;
	height: 25px;/*auto; /*50px;*/
	list-style: none;
	overflow: hidden;
}

#topics>li {
	/* border-right: 1px solid #ccc; */
	/* margin-right: 1px; */
	/* padding-right: 1px; */
	/* margin-top: 1px; */
	/* margin-bottom: 5px; */
	float: left;
	/* padding: 5px 0; */
	/* display: block; */
	/* color: #1769ff; */
	/* text-align: center; */
	/* font-size: 14px; */
	/* margin-left: 0px; */
	padding-left: 0px;
}

.topic {
	/* color: #fff; */
	/* background-color: #069eec; */
	/* text-decoration: none; */
	/* display: block; */
	height: 20px;
	/* border: 1px solid #fff; */
	border-radius: 3px;
	margin-right: 3px;
	color: #333;
	font-size: 12px; /*13px;*/ /*12px;*/
	padding: 0 7px;
	line-height: 20px;
	text-decoraiton: none;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#e4e4e4),
		to(#f0f0f0));
	background: -webkit-linear-gradient(top, #f0f0f0, #e4e4e4);
	background: -moz-linear-gradient(top, #f0f0f0, #e4e4e4);
	background: -ms-linear-gradient(top, #f0f0f0, #e4e4e4);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0',
		endColorstr='#E4E4E4', GradientType=0);
	background: -o-linear-gradient(top, #f0f0f0, #e4e4e4);
}
/*li {
	font-size: 13px;
	padding: 0px 3px;
	margin-bottom: 3px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}*/
.tweet-detail1 {
	margin-right: 15px;
	/* margin-top: 4px; */
	width: 100%;
	/*overflow: hidden;*/
}

.list-group-item-text {
	font-size: 14px;
}

.tweet-container {
	padding: 0px 1px 0px 1px;
}

.news-container {
	padding: 0px 2px 0px 2px;
}

img.logo {
	width: 50px;
	height: 50px;
	float: left;
	padding: 1px 1px;
	margin: 5px;
}

h1 {
	font-size: 16px;
}

.topic_heading {
	display: inline;
	height: 20px;
}

a:hover, a:focus {
	color: #E47911; /*#18bc9c;*/
	text-decoration: none;
}

.title-heading {
	line-height: 1.3em;
	letter-spacing: 0.02em;
	font-family: georgia, times new roman, serif;
	font-size: 26px;/*28px;*/
	font-weight: normal;
	margin: 0px 0px 10px;
	color: #333;
}

.list-group {
	margin-bottom: 20px;
	padding-left: 0;
	margin-top: 10px;
}

.tweet_links {
	color: #00afde; /*#777*/;
}

a.tweet_links:hover {
	color: #ed2822;
}

.gallery_text {
	line-height: 1.5;
	color: #444;
	font-family: 'Georgia', arial;
}

.news-analysis {
	display: inline-block;
	font-size: 13px;
	color: #777;
}

.news-analysis-link {
	/*color:#222;
	font-size: 14px;
	font-weight: bold;
	*/
	color: #ff1200; /*#999;*/
}

.list-group-item:last-child {
	margin-bottom: 0;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	margin-bottom: 5px; /*Added by me*/
}

.list-group-item:hover {
   box-shadow: 5px 0px 30px rgba(0,0,0,0.5);
   -webkit-box-shadow: 2px 0px 30px rgba(0,0,0,0.5);
   -moz-box-shadow: 5px 0px 30px rgba(0,0,0,0.5);
}

.list-group-item:first-child{
	border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

#menu-toggle {
	z-index: 1;
	position: fixed;
	top: 0;
	/* right: 0; */
}

.btn-lg, .btn-group-lg>.btn {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px;
}

.btn-dark {
	border-radius: 0;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.4);
}

.toggle {
	margin: 5px 5px 0 0;
}

.fa {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
	content: "\f0c9";
}

.buzz_link {
	color: #ff1200; /*#E47911;*/
}

#search-site .page-title {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size: 70px;
	font-size: 4.375rem;
	line-height: 1.02857;
}

#hero {
	padding: 120px 0 40px;
}

@media all {
	#hero {
		padding: 150px 0 60px;
		background: url(/static/images/bg3.jpg) center top;
		background-size: cover;
		height: 770px;
	}
}

@media all and (max-width: 480px) {
	#hero {
		padding: 60px 0 60px;
		background: url(/static/images/bg3.jpg) center top;
		background-size: cover;
		min-height: 480px;
		height: 100%;
	}
}

@media screen {
	.navbar-default .navbar-toggle {
		border-color: #1a242f;
		background: #1a242f;
	}
}

@media all {
	#hero h1 {
		/* text-align: center;
margin: 0 0 26px;
color: #fff;
font-size: 4.500em;
font-weight: 300;
font-family: Open Sans, sans-serif; */
		text-align: center;
		margin: 0 0 26px;
		color: #fff;
		/* font-size: 4.500em; */
		/* font-weight: 300; */
		/* font-family: Open Sans, sans-serif; */
		font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
		font-size: 52px;
		line-height: 50px;
		font-weight: 700;
		letter-spacing: -.03em;
	}
	@media all {
		#hero h2 {
			/*text-align: center;
color: #fff;
font-size: 2.188em;
font-weight: 300;
display: none;*/
			text-align: center;
			color: #fff;
			/* font-size: 2.188em; */
			/* font-weight: 300; */
			/* display: none; */
			/* font-size: 22px; */
			font-weight: 400;
			/* letter-spacing: 0; */
			font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
			font-size: 26px;
			line-height: 32px;
			/* margin-bottom: .6em; */
			/* letter-spacing: -.03em; */
			/* position: relative; */
		}
	}
	#hero h1 {
		font-size: 2.500em;
	}
	.trending-searches {
		margin-top: 10px;
		color: #fff; /*#777;*/
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		font-size: 18px;
		font-weight: bold;
	}
	.trending-searches li {
		display: inline-block;
		vertical-align: middle;
		list-style: none;
		/*padding-left: 15px;*/
	}
}

@media all {
	#hero .form-search {
		margin-top: 12px;
	}
}

@media all {
	.input-group {
		position: relative;
		display: table;
		border-collapse: separate;
		background: #00659b;
		padding: 1px;
	}
}

.input-group {
	background: none;
}

@media all {
	#hero .form-search .form-control {
		height: 56px;
		font-size: 18px;
		border: none;
	}
}

@media all {
	.input-group-btn {
		position: relative;
		white-space: nowrap;
	}
}

#hero .form-search .btn {
	margin-left: 0px;
	border-left: solid 1px #CC8114;
}

@media all and (max-width: 480px) {
	#hero .form-search .btn {
		padding: 0;
		font-size: 18px;
		background: url(/static/images/search.svg) #ff9700 no-repeat center
			center;
		/*margin-left: 2px;*/
		color: #fff;
		font-weight: 500;
		height: 56px;
		width: 56px;
		font-size: 0;
		text-indent: -999px;
		overflow: hidden;
	}
}

@media all and (min-width: 481px) {
	#hero .form-search .btn {
		padding: 0;
		font-size: 18px;
		background: url(/static/images/search.svg) #ff9700 no-repeat center
			center;
		/*margin-left: 2px;*/
		color: #fff;
		font-weight: 500;
		height: 56px;
		width: 106px;
		font-size: 0;
		text-indent: -999px;
		overflow: hidden;
	}
}

media all { .form-control { display:block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow
		ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

}
@media all {
	.form-control {
		height: 42px;
		padding: 8px 12px;
		font-size: 16px;
		line-height: 1.428571429;
		color: #555;
	}
}

.input-lg {
	height: 45px;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px;
}

.buzz-pubslished-time {
	color: #888;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0px;
	-webkit-font-smoothing: antialiased;
}

li.tags {
	color: #007dc3;
	margin-right: 3px;
	font-size: 13px;
	font-weight: 400;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0px;
	-webkit-font-smoothing: antialiased;
	margin-right: 3px;
}

.photoCredit {
	font-size: 10px;
	text-align: right;
	padding: 3px 3px 0px; /*3px;*/
	bottom: 0px;
	color: rgb(255, 255, 255);
	background: rgb(34, 34, 34);
	/*margin-top: -25px;*/
}

ul.social-list {
	list-style: none;
	margin: 0;
	display: block;
}

.clearfix {
	zoom: 1;
}

ul.social-list li {
	padding: 0;
	list-style: none;
	margin: 0 5px 1px 0;
	background: none !important;
	display: inline-block;
	float: left;
}

ul.social-list a {
	display: block;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	margin-right: 2px;
	background: url('/static/images/social-widget.png') no-repeat 0 0;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	/*background-size: 712px 24px;*/
}

.social-list .facebook {
	background-position: 0 0;
}

.social-list .twitter {
	background-position: -170px 0;
}

.social-list .linkedin {
	background-position: -554px 0;
}

.social-list .rss {
	background-position: -684px 0;
}

.social-list .googleplus {
	background-position: -42px 0;
}

.social-list .reddit {
	background-position: -598px 0;
}

.socialicon {
	display: inline-block;
	margin: 1px 3px 1px 1px;
}

img.delete-icon {
	width: 14px; /*30px*/;
	display: inline-block;
	margin-bottom: 15px;
	margin-left: 5px;
}

.news-summary a:hover {
	text-decoration: underline;
}

.news-summary a {
	color: rgb(17, 85, 204); /*#08c;*/ /*#3b5998;*/
}

a.continue_read {
	color: #FF4405;
}

div#socialwidget h3 {
	font-size: 16px;
	margin: 0 !important;
	padding: 2px 0 5px 10px !important;
	color: #555;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	line-height: 10px;
}

div#socialwidget {
	font-family: inherit;
	background-color: #fefefe;
	width: 100%;
	margin: 0 0px 10px 0px !important;
	padding: 5px 2px 5px 2px !important;
	border: 1px solid #ddd !important;
	font-size: 90%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

div#socialwidget .textwidget .tfsubscribelink {
	margin: 5px auto !important;
	text-align: center !important;
	position: relative;
}

div#socialwidget .textwidget .socialfollow {
	margin: 10px auto 10px auto;
	text-align: center;
	width: 245px;
}

h1, h2, h3 {
	line-height: 10px;
}

#siteflow-widget-next.collapsed-v2 {
	width: 315px;
}

#siteflow-widget-next.collapsed-v2, #siteflow-widget-prev.collapsed-v2 {
	top: auto;
	bottom: 0;
	height: 80px;
	margin-bottom: 0;
	display: block;
}

#siteflow-widget-next, #siteflow-widget-prev {
	z-index: 13;
}

#siteflow-widget-next {
	right: 0;
}

#siteflow-widget-next, #siteflow-widget-prev {
	position: fixed;
	width: 165px;
	top: 300px;
}

.leo-module.mod-custom {
	margin-bottom: 10px;
}

.leo-module {
	margin-bottom: 20px;
	padding: 0;
	width: 100%;
}

#siteflow-widget-next .recommendation, #siteflow-widget-prev .recommendation
	{
	background: #fff;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0
		rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0
		rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0
		rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0
		rgba(0, 0, 0, 0.12);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03),
		1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
	position: relative;
	background-color: #fff;
	padding: 0;
}

#siteflow-widget-next.collapsed-v2 .recommendation,
	#siteflow-widget-prev.collapsed-v2 .recommendation {
	background: #333;
	overflow: hidden;
	height: 100%;
	max-height: 80px;
	overflow: hidden;
}

#siteflow-widget-next .recommendation, #siteflow-widget-prev .recommendation
	{
	padding: 0;
}

#siteflow-widget-next.collapsed-v2 h4 {
	left: 80px;
}

#siteflow-widget-next.collapsed-v2 h4, #siteflow-widget-next.collapsed-v2 .entityblock,
	#siteflow-widget-next.collapsed-v2 .content-body {
	display: block;
	font-size: 13px;
	line-height: 17px;
	color: #fff;
	font-weight: normal;
}

#siteflow-widget-next.collapsed-v2 h4, #siteflow-widget-prev.collapsed-v2 h4
	{
	line-height: 13px;
	position: relative;
	margin-top: 8px;
	width: 180px;
}

#siteflow-widget-next .recommendation h4, #siteflow-widget-prev .recommendation h4
	{
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	color: #000;
	width: 140px;
	display: none;
}

#siteflow-widget-next.collapsed-v2 .content-block, #siteflow-widget-prev.collapsed-v2 .content-block
	{
	position: static;
}

#siteflow-widget-next .content-block, #siteflow-widget-prev .content-block
	{
	position: relative;
}

#siteflow-widget-next.collapsed-v2 .recommendation-link,
	#siteflow-widget-prev.collapsed-v2 .recommendation-link {
	z-index: 7;
}

#siteflow-widget-next .recommendation-link, #siteflow-widget-prev .recommendation-link
	{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-indent: -119988px;
	overflow: hidden;
	text-align: left;
	background: transparent
		url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
}

#siteflow-widget-next a, #siteflow-widget-prev a {
	font-size: 12px;
	line-height: 14px;
	color: #0077b5;
	font-weight: normal;
	text-decoration: none;
}

#siteflow-widget-next.collapsed-v2 h4, #siteflow-widget-next.collapsed-v2 .entityblock,
	#siteflow-widget-next.collapsed-v2 .content-body {
	display: block;
	font-size: 13px;
	line-height: 17px;
	color: #fff;
	font-weight: normal;
}

#siteflow-widget-next.collapsed-v2 .entityblock, #siteflow-widget-prev.collapsed-v2 .entityblock
	{
	width: 250px;
	float: left;
	padding-left: 10px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
	margin-top: -11px;
	word-wrap: break-word;
}

#siteflow-widget-next .entityblock, #siteflow-widget-prev .entityblock {
	width: 135px;
	background-color: transparent;
	display: none;
}

#siteflow-widget-next.collapsed-v2 .image, #siteflow-widget-prev.collapsed-v2 .image
	{
	padding: 0;
	width: 60px;
	height: 60px;
	float: left;
	position: absolute;
	top: 10px;
}

#siteflow-widget-next .image, #siteflow-widget-prev .image {
	padding-top: 10px;
	padding-bottom: 5px;
	float: none;
	margin: 0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

#siteflow-widget-next.collapsed-v2 h4, #siteflow-widget-next.collapsed-v2 .entityblock,
	#siteflow-widget-next.collapsed-v2 .content-body {
	display: block;
	font-size: 13px;
	line-height: 17px;
	color: #fff;
	font-weight: normal;
}

#siteflow-widget-next.collapsed-v2 .content-body, #siteflow-widget-prev.collapsed-v2 .content-body
	{
	margin-left: 70px;
	width: 180px;
	padding-top: 10px;
	padding-bottom: 0px;
}

#siteflow-widget-next .content-body, #siteflow-widget-prev .content-body
	{
	width: 100%;
	display: none;
	white-space: normal;
	word-wrap: break-word;
}

.navbar .nav {
position: relative;
left: 0;
display: block;
/*float: left;*/
margin: 0 1px 0 0;/*0 10px 0 0;*/
}
.nav {
margin-left: 0;
margin-bottom: 2px;/*20px*/;
list-style: none;
}
.navbar .brand {
margin-left: -10px;/*-20px*/
}

.news-meta-info>.social-shares {
display: inline-block;
margin: 0 0 5px 5px;
}
.social-shares>li:first-child {
margin-left: 0;
}
.social-shares>li {
margin-left: 10px;
display: -moz-inline-stack;
display: inline-block;
vertical-align: middle;
zoom: 1;
}

.social-shares .share-button .icon:before {
font-weight: normal;
font-style: normal;
text-decoration: inherit;
speak: none;
font-size: 18px;
color: inherit;
}
.social-shares .label {
position: absolute!important;
height: 1px;
width: 1px;
overflow: hidden;
clip: rect(1px,1px,1px,1px);
}
.social-shares .share-facebook .icon {
color: #425f9e;
}
.social-shares .share-linkedin .icon {
color: #0075b4;
}
.social-shares .share-googleplus .icon {
color: #d23d23;
}
.social-shares .share-twitter .icon {
color: #00b5f4;
}
.article-img{
	float: left;
	width:180px;
	margin-right: 10px;
	max-height:245px;
	margin-top: 0px;
}
.photoCreditWiki{
	font-size: 8px;
	margin-top: -50px;
}
a.wiki_continue_read {
	color:blue;
}
.wiki-container{
}
.wiki-group-item{
	padding: 5px;
}
.wiki-detail{
	margin-top: 4px;
}
a.active {
border-bottom: 1px solid red;
}